<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django Girls 2026</title>
</head>
<body>
    <div id="cabecalho">
        <h1>Blog Django Girls 2026</h1>
        <h3>Criador: Lara Lahm</h3>
    </div>
    
    <div>
        <a href="https://djangogirls.org">Link do Django Girls (Tutorial)</a>
    </div>

    <div>
        <h2><a href="">Meu primeiro Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi magni totam quibusdam ut ratione, odit nemo iusto quia iure eum exercitationem dolor accusamus porro dolores tenetur, 
        illum eligendi <strong>consequuntur</strong> cupiditate.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi magni totam quibusdam ut ratione, odit nemo iusto quia iure eum exercitationem dolor accusamus porro dolores tenetur, 
        illum eligendi consequuntur cupiditate.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi magni totam quibusdam ut ratione, odit nemo iusto quia iure eum exercitationem dolor accusamus porro dolores tenetur, 
        illum eligendi consequuntur cupiditate.</p>
        <p>publicado: 30/05/2026 14:52</p>
    </div>

    <div>
        <h2><a href="">Meu segundo Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi magni totam quibusdam ut ratione, odit nemo iusto quia iure eum exercitationem dolor accusamus porro dolores tenetur, 
        illum eligendi <strong>consequuntur</strong> cupiditate.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi magni totam quibusdam ut ratione, odit nemo iusto quia iure eum exercitationem dolor accusamus porro dolores tenetur, 
        illum eligendi consequuntur cupiditate.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quasi magni totam quibusdam ut ratione, odit nemo iusto quia iure eum exercitationem dolor accusamus porro dolores tenetur, 
        illum eligendi consequuntur cupiditate.</p>
        <p>publicado: 30/05/2026 15:00</p>
    </div>
    
    <ul>
        <li>Linha da Lista</li>
        <li>Linha 2 da lista</li>
    </ul>
</body>
</html>